body {
    font-family: "Open Sans", sans-serif;
}

a:link, a:visited {
    color: #F7C328
}

.navbar-brand {
    font-family: "Galada", sans-serif;
}

.navigation {
    align-items: center;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    padding-top: 20px;
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;

    font-family: Montserrat, sans-serif;
}

.about {
    margin-top: 12%;
}

.avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.contact {
    text-align: left;
    margin-top: 20px;
    font-family: Lato, sans-serif;
}

.contact h5 {
    color: #3F3E3E
}

.contact p {
    color: rgb(116, 116, 116);
}

.info {
    padding: 0;
}

.intro {
    padding: 0;
    display: block;
    word-wrap: break-word;
    color: rgb(116, 116, 116);
}

.profile-info {
    max-width: 100%;
    margin: 0;
}

footer img {
    max-width: 30px;
    max-height: 30px;
    margin-left: 10px;
}

footer {
    margin-bottom: 1%;
    margin-top: auto;
    text-align: right;
}

@media (max-width: 990px) {
    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    .contact {
        margin-left: 10%;
    }

    .intro {
        margin-top: 5%;
    }

    .navbar-nav > li{
        padding-left:5px;
        padding-right:5px;
    }
}

@media (max-width: 540px) {
    .navigation {
        padding-left: 15px;
        padding-right: 15px;
    }
}

