.navbar {
    margin-top: 25px;
    padding: 0;
}

.banner {
    margin-bottom: 40px;
}

img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.contact {
    text-align: left;
    margin-top: 20px;
}

.info {
    padding: 0;
}

.intro {
    padding: 0;
    display: block;
    word-wrap: break-word;
}

.profile-info {
    max-width: 100%;
    margin: 0;
}


